<% layout('layouts/boilerplate') %>

<div class="container">
	<div style="width: 10%; margin: auto">
		<button style="text-decoration: none;padding:10px; background-color:grey; color: black; text-align: center">
			State Name: <%= state.name %> <br />
			State Abbreviation: <%= data.state %> <br />
		</button>
	</div>
</div>
