<% layout('layouts/boilerplate') %>

<div class="container">
	<div style="max-width: 500px; margin: auto">
		<p>
			State Name: <%= state.name %> <br />
			State Abbreviation: <%= data.state %> <br />
		</p>
	</div>
</div>
